@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap');

:root {
    --theme-bg: #1a2a3b;
    --theme-fg: #ffffff;
    --font-family: 'Roboto';
    --orange: #ef5a00;
    --white: #efefaf;
    --grey: #aaaaaa;
    --darkgrey: #3a3a3a;
    --red: #fe122a;
}

html, body {
    background-color: var(--theme-bg);
    color: var(--theme-fg);
    font-family: var(--font-family);
    margin: 0;
}

.center-vertical {
    display: flex;
    align-items: center;
}

h1 {
    text-decoration: none;
    transition: 500ms ease-out;
}
h1:hover {
    color: var(--grey);
}

h2, h3, h4 {
    color: var(--grey);
}

p {
    line-height: 1.1;
    margin: 1em;
}

h1 svg {
    fill: var(--red) !important;
    margin: 0 .5em;
    width: 1em;
    height: 1em;
}

.text-align-center {
    text-align: center;
}
.no-margin {
    margin: 0;
}

.svg-wiggle:hover svg, .wiggle:hover {
    animation-name: wiggle;
    animation-duration: 500ms;
    animation-iteration-count: 1;
}

.banner {
    height: 15em;
    background: linear-gradient(#101a2b 90%, var(--theme-bg) 100%);
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.flex .fill {
    width: 100%;
}

code {
    font-family: 'Fira Code';
}

#socials {
    background-color: #101a2b;
    padding: 1em;
}

.button {
    --button-primary: #1a1a2a;
    --button-secondary: var(--white, #ffffff);
    --button-border: .1em solid var(--white);

    box-shadow: 3px 3px 5px black;
    padding: 1em;
    background: var(--button-primary);
    color: var(--button-secondary);
    display: inline-block;
    border-radius: .5em;
    border: var(--button-border);
    user-select: none;

    transition: box-shadow 200ms, filter 200ms;
}

.button:active {
    box-shadow: 2px 2px 2px black;
    filter: brightness(125%);
}

b {
    color: var(--orange);
}

@keyframes wiggle {
    0% {
        rotate: 0deg;
    }
    25% {
        rotate: 12deg;
    }
    65% {
        rotate: -12deg;
    }
    100% {
        rotate: 0deg;
    }
}